API_ID=
API_HASH=
BOT_TOKEN=
LOGGER_ID=
MONGO_DB_URI=
OWNER_ID=
STRING_SESSION=
JIOSAAVN_API_URL=https://jiosaavn-api.np564605.workers.dev
JIOSAAVN_API_MODE=jio1
JIOSAAVN_QUALITY=160
CF_ACCESS_CLIENT_ID=
CF_ACCESS_CLIENT_SECRET=
